.main__messages__message
  %p.main__messages__message--talker
    = message.user.name
  %p.main__messages__message--date
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  - if message.content.present?
    %p.main__messages__message--text
      = message.content
  = image_tag message.image.url, class: 'main__messages__message--image' if message.image.present?