.main
  .main__header
    .main__header__box
      %p.main__header__box--current-group
        test_group
      %p.main__header__box--current-members
        Member: test_user1, test_user2
    .main__header--edit-btn
      Edit

  .main__messages
    .main__messages__message
      %p.main__messages__message--talker
        test_user1
      %p.main__messages__message--date
        2019/07/01(Mon) 17:42:44
      %p.main__messages__message--text
        Hello world!

    .main__messages__message
      %p.main__messages__message--talker
        test_user2
      %p.main__messages__message--date
        2019/07/02(Tue) 14:14:27
      %p.main__messages__message--text
        Good bye world!
  
  .main__form
    %form.main__form--form
      .main__form--form__box
        %input.main__form--form__box--input{placeholder: "type a message"}
        %label.main__form--form__box--label
          = fa_icon 'image', class: "fa-lg"
          %input.main__form--form__box--label--uploader{type: "file"}
      %input.main__form--form--submit{value: "Send", type: "submit"}