.main {
  width: calc(100vw - 300px);
  height: 100%;
  background-color: #fafafa;
  &__header {
    height: 100px;
    background-color: #ffffff;
    padding: 0 40px;
    position: relative;
    &__box {
      &--current-group {
        padding-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      &--current-members {
        padding-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }
    &__edit-btn {
      height: 40px;
      padding: 0 20px;
      color: #38AEF0;
      border: solid 1px #38AEF0;
      line-height: 40px;
      position: absolute;
      top: 28px;
      right: 40px;
      &__link {
        text-decoration: none;
        &--edit {
          color: #38AEF0;
        }
      }
    }
  }

  &__messages {
    height: calc(100vh - 100px - 90px);
    padding: 6px 40px 20px;
    border-top: solid 1px #eeeeee;
    box-sizing: border-box;
    overflow: scroll;
    &__message {
      box-sizing: border-box;
      padding-top: 40px;
      &--talker {
        font-size: 16px;
        font-weight: bold;
        color: #434A54;
        display: inline;
      }
      &--date {
        font-size: 12px;
        color: #999999;
        padding-left: 10px;
        display: inline;
      }
      &--text {
        padding-top: 10px;
        font-size: 14px;
        color: #434A54;
      }
    }
  }

  &__form {
    background-color: #ddd;
    height: 90px;
    width: calc(100% - 300px);
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 20px 40px;
    &--form {
      display: flex;
      &__box {
        position: relative;
        width: 100%;
        &--input {
          height: 50px;
          width: calc(100% - 50px);
          padding: 0 40px 0 10px;
          font-size: 16px;
          color: #434A54;
          border-style: none;
        }
        &--label {
          position: absolute;
          top: 13px;
          right: 10px;
          cursor: pointer;
          &--uploader {
            display: none;
          }
        }
      }
      &--submit {
        height: 50px;
        width: 100px;
        background-color: #38AEF0;
        color: #ffffff;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}